.moreinfo-container {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 30px 50px;
  background: linear-gradient(to right, #b2868e, #e9d6d7);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.moreinfo-previous-arrow {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 24px;
  margin-bottom: -13px;
  margin-left: -35px;
}

.moreinfo-previous-arrow:hover {
  color: #0056b3;
}

.moreinfo-title {
  text-align: center;
  font-size: 44px;
  color: #333;
  margin-bottom: 20px;
}

.moreinfo-input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px; /* Space between input groups */
}

.moreinfo-input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

.moreinfo-input-group select,
.moreinfo-input-group input {
  width: 100%; /* Ensure full width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box; /* Include padding and border in element's total width */
}

.moreinfo-input-group select {
  width: 130%;
}

.moreinfo-styled-button {
  width: 40%;
  padding: 10px;
  background-color: #1f4c7d;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  align-self: center; /* Center the button */
}

.moreinfo-styled-button:hover {
  background-color: #0056b3;
}

.moreinfo-alert {
  color: red;
  margin-bottom: 10px;
}
