
.new-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    margin-bottom: 50px;
  }
  
  .section-part {
    width: 30%;
    text-align: center;
  }
  
  .section-part img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  .section-part h3 {
    color: #B22222;
    margin-bottom: 10px;
  }
  
  .section-part p {
    margin-bottom: 10px;
  }
  
  .section-part a {
    color: blue;
    text-decoration: underline;
  }
  